{% extends "base.html" %}
{% block title %}
AppSales
{% endblock %}
{% block h1 %}
{% endblock %}
{% block content %}

{% load humanize %}
{% load pagination_tags %}

{% if user.username %}

{% if resultSet %}

<h3>{{ dateStr }}</h3>

{% autopaginate dateSet 1 %}

<table>
  <tr>
	<td valign="top">
	  <table id="resultSet" cellpadding="2" cellspacing="2" border="0">
		<tbody>
		  <tr class="top-list-title">
			<td class="top-list-name" colspan="2">Name</td>
			<td class="top-list-col"><a href="/s/FR/?page={{ page }}">Free</a></td>
			<td class="top-list-col"><a href="/s/PA/?page={{ page }}">Paid</a></td>
			<td class="top-list-col"><a href="/s/IA/?page={{ page }}">InApp</a></td>
			<td class="top-list-col"><a href="/s/UP/?page={{ page }}">Updates</a></td>
			{% if summary.AD %}
			<td class="top-list-col"><a href="/s/AD/?page={{ page }}">Admob</a></td>
			{% endif %}
		  </tr>
		  {% for f in resultSet %}
		  <tr class="{% cycle 'data_odd' 'data_even' %}">
			<td class="top-icon"><img src="{{ f.icon }}" height="24px"/></td>
			<td class="top-list-name"><a href="/app/{{ f.appid }}/">{{ f.name|truncatewords:4 }}</a></td>
			<td class="top-list-col">{{ f.FR|default:"-"|intcomma }}</td>
			<td class="top-list-col">{{ f.PA|default:"-"|intcomma }}</td>
			<td class="top-list-col">{{ f.IA|default:"-"|intcomma }}</td>
			<td class="top-list-col">{{ f.UP|default:"-"|intcomma }}</td>
			{% if summary.AD %}
			<td class="top-list-col">{{ f.AD|default:"-"|intcomma }}</td>
			{% endif %}
		  </tr>
		  {% endfor %}
		  {% if summary %}
		  <tr class="bottom-summary">
			<td class="top-list-name" colspan="2">Total</td>
			<td class="top-list-col">{{ summary.FR|intcomma }}</td>
			<td class="top-list-col">{{ summary.PA|intcomma }}</td>
			<td class="top-list-col">{{ summary.IA|intcomma }}</td>
			<td class="top-list-col">{{ summary.UP|intcomma }}</td>
			{% if summary.AD %}
			<td class="top-list-col">{{ summary.AD|intcomma }}</td>
			{% endif %}
		  </tr>
		  {% endif %}
		</tbody>
	  </table>
	</td>
	<td valign="top">
	  <table id="resultSet" cellpadding="2" cellspacing="2" border="0">
		<tbody>
		  <tr class="top-list-title">
			<td class="top-list-name" colspan="2">Market</td>
			<td class="top-list-col">Units</td>
		  </tr>
		  {% for f in countrySet %}
		  <tr class="{% cycle 'data_odd' 'data_even' %}">
			<td class="top-icon"><img src="/site_media/ImageFlags/{{ f.code }}.png" height="24px"/></td>
			<td class="top-list-name">{{ f.name }}</td>
			<td class="top-list-col">{{ f.units__sum|default:"-"|intcomma }}</td>
		  </tr>
		  {% endfor %}
		</tbody>
	  </table>
	</td>
  </tr>
</table>

{% paginate %}

{% else %}
<p>
  No Data yet. <br/>
  You can populate appsales data using './manage.py runjob populate'. </br>
</p>
{% endif %}

{% endif %}
{% endblock %}
