{% extends "base.html" %}
{% block title %}
AppSales
{% endblock %}
{% block chart-data %}{{ request.path }}chart.json/?page={{ page }}{% endblock %}
{% block h1 %}
{% endblock %}
{% block content %}
{% load humanize %}
{% load pagination_tags %}
{% if user.username %}
{% if resultSet %}
<h3>User Reviews</h3>

<table>
  <tr>
	<td valign="top">
	  <table id="resultSet" cellpadding="2" cellspacing="2" border="0">
		<tbody>
		  <tr class="top-list-title">
			<td class="top-list-name" colspan="2">Application</td>
			<td class="top-list-col">Current</td>
			<td class="top-list-col">Total</td>
			<td class="top-list-col">Avg</td>
		  </tr>
		  {% for f in resultSet %}
		  <tr class="{% cycle 'data_odd' 'data_even' %}">
			<td class="top-icon"><img src="{{ f.icon }}" height="24px"/></td>
			<td class="top-list-name">
			  <a href="/review/{{ f.appid }}/">{{ f.appname|truncatewords:4  }}</a>
			</td>
			<td class="top-list-col">{{ f.current }}</td>
			<td class="top-list-col">{{ f.total }}</td>
			<td class="top-list-col">Avg</td>
		  </tr>
		  {% endfor %}
		</tbody>
	  </table>
	</td>
  </tr>
</table>

{% else %}
<p>
  There is no data.
  <br/>
  To populate the data in system, use sales.cron.populate() routine.
</p>
{% endif %}

{% endif %}
{% endblock %}
