{% extends "base.html" %}
{% block title %}
AppSales
{% endblock %}
{% block chart-data %}{% endblock %}
{% block h1 %}
{% endblock %}
{% block content %}
{% load humanize %}
{% load get_range %}
{% load pagination_tags %}
{% if user.username %}
{% autopaginate resultSet 50 %}
<h3><a href="/app/{{ appid }}">{{ appName }}</a></h3>
<img src="{{ icon }}"/>

<p>
{% paginate %}
<p>

{% if resultSet %}

{% for f in resultSet %}
<div id="rev{% ifequal latest_version f.version %}current{% endifequal %}">
  
<img id="rev" src="/site_media/ImageFlags/{{ f.country.code }}.png"/> {{ f.country.code }}
{% spaceless %}
<span id="rev-star">
{% for i in f.stars|get_range %}<img src="/site_media/stars.png" height="13"/>{% endfor %}
{% for i in f.stars|add:"-5"|get_range %}<img src="/site_media/stars-grey.png" height="13"/>{% endfor %}
</span>
{% endspaceless %}
<span id="rev-title"><b>{{ f.title }}</b></span><br/>
<span id="rev-small">(Version {{ f.version }}) - {{ f.reviewer }} - {{ f.date }}</span>
<br/>
<div id="revcontent{% ifequal latest_version f.version %}current{% endifequal %}">
<pre width="60px">{% autoescape off %}{{ f.content }}{% endautoescape %}</pre>
</div>

</div>
{% endfor %}

<p>
{% paginate %}
<p>

{% else %}
<p>
  There is no Review data yet.
  <br/>
</p>
{% endif %}

{% endif %}
{% endblock %}
