#nav {
	/* float:right; */
}

input {
	display: block;
}

.top-list-title
{
	background: lightblue;
	font-size:130%;
}

.data_odd {
	bgcolor:#006B6B;
	font-size:100%;
}

.data_even {
	background: lightgrey;
	font-size:100%;
}

.bottom-summary {
	margin: 5px 5px 5px 5px;
	background: lightblue;
	font-size:120%;
}
.bottom-subsummary {
	background: lightcyan;
	font-size:100%;
}

#resultSet {
	margin: 2px 30px 2px 2px;
	/* float: left; */
}

.top-list-name {
	width : 180px;
}
.top-list-col {
	width : 50px;
	text-align : right;
}

/* .paginator { */
/* 	font-size: 11px; */
/* } */

.pagination {
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
	font-size : 100%;
}
.pagination .page a {
    border: 3px solid #bbbbbb;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none;
    color: #000000;
}
.pagination .current {
    border: 3px solid #444444;
    margin-left: 2px;
    margin-right: 2px;
	padding: 2px 2px 2px 2px;
}
